header {
	background: url('../../static/img/header-bg.jpg');
	background-size: cover;
	background-height: 300px;
	color: white;
	text-align: center;
}
img {
	border: 10px white solid;
	border-radius: 12px;
}
header ul {
	background: rgba(0,0,0,0.4);
	color: white;
	padding: 10px;
}
header li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
body {
	background: #222;
}
.block {
	width: 700px;
	margin: 0 auto;
	border: 6px #444 solid;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
	background: white;
}
